@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.column {
    float: left;
    width: 33.33%;
    height: max-content;
    display: inline-flex;
}


/* Mansonry */

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}
  
  /* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}


/* Media Query */

@media screen and (max-width: 960px) {
    .column {
      width: 100%;
    }
}

