@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.column {
    float: left;
    width: 33.33%;
    align-items: stretch;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}